<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    #todo add env variable for production
    SetEnv ENCKEY k4osdifjoasd8f923
    SetEnv ENCUSER USERNAME
    SetEnv ENCPASS PASSWORD
    #todo change public path
    RewriteCond %{REQUEST_URI} !^/tutionclasses/public/?(.*)$ [NC]
    RewriteRule ^.*$ index.php [L,NS,QSA]


</IfModule>